{% extends 'base.html' %}

{% block main %}

<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
          {% for car in object_list %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
{#            {% if person.image %}#}
                <img src="{{ car.image.url }}" width="100%" height="225">
{#            {% else %}#}
{#                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
{#            {% endif %}#}
            <div class="card-body">
              <p class="card-text">{{ car.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{ car.type }}</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">${{ car.hour_rate }}/hour</button>
                </div>
                  <a href="{% url 'app:add_booking' car.id %}" class="btn btn-sm btn-success">Rent</a>
              </div>
            </div>
          </div>
              </div>

          {% endfor %}
      </div>
    </div>
  </div>

</main>




{% endblock %}
